@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunitoblack.woff2') format('woff2'),
			url('/assets/fonts/nunitoblack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunitobold.woff2') format('woff2'),
			url('/assets/fonts/nunitobold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunitomedium.woff2') format('woff2'),
			url('/assets/fonts/nunitomedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunitoregular.woff2') format('woff2'),
			url('/assets/fonts/nunitoregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/assets/fonts/nunitolight.woff2') format('woff2'),
			url('/assets/fonts/nunitolight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Europe';
	src: url('/assets/fonts/europenormal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/interbold.woff2') format('woff2'),
				url('/assets/fonts/interbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/intermedium.woff2') format('woff2'),
			url('/assets/fonts/intermedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/interregular.woff2') format('woff2'),
			url('/assets/fonts/interregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/interlight.woff2') format('woff2'),
			url('/assets/fonts/interlight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}